<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accès Admin</title>
    
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="wrapper">
        <div class="image-side">
            <img src="/images/fond1.jpg" alt="Image Admin">
        </div>
        <div class="container">
            <h2>Espace Administrateur</h2>
            <div class="buttons">
                <a href="/login?role=admin"><button>Se connecter</button></a>
                <a href="/register"><button>S'inscrire</button></a>
            </div>
        </div>
    </div>
</body>

</html>